html{
    background-color: rgb(11, 11, 20);
}

#title{
    color: whitesmoke;
    margin-left: 5%;
    font-size: 375%;
    margin-left: 40%;
    color: lightyellow;
}

#divTitle {
    background-image: linear-gradient(black, white) ;
    padding: 10px ;
    border: 1px solid lightyellow ;
    height: 1100px;
    width: 14.1%;
    resize: both;
    overflow: auto;
  }

#image{
    position: absolute;
    top: 70px;
    left: 30%;
    resize: both;
    overflow: auto;

}

img {
    border: 2px solid lightyellow;
    resize: both;
    overflow: auto;
  }

#email{
    position: absolute;
    top: 2%;
    left: 50%;
    color: lightyellow;
}

#textarea{
    position: absolute;
    top: 78%;
    left: 32%;
    width: 51%;
    height: 15%;
    background-color: rgb(252, 252, 232);
    border: 10px solid lightyellow;
    outline: 3px solid darkslategray;
    font-family: fantasy;
    font-size: 12px;
    resize: both;
    overflow: auto;
}

#botttle{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 32%;
    top: 100%;
    resize: both;
    overflow: auto;
}

#bottle{
    width: 380px;
    height: 300px;
    position: absolute;
    left: 58%;
    top: 100%;
    resize: both;
    overflow: auto;
}

#tab1{
    background-color: rgb(87, 119, 139);
    width: screen;
    height: 300px;
    resize: both;
    overflow: auto;

}


/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    background-color: lightyellow;
    resize: both;
    overflow: auto;
  }
  
  /* Style the buttons that are used to open the tab content */
  #button1{
    font-family: fantasy;
    background-color: inherit;
    position: absolute;
    left: 16%;
    top: 30%;
    border: 0.5px solid whitesmoke;
    border-left: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    resize: both;
    overflow: auto;
    
  }

  #button2{
    font-family: fantasy;
    background-color: inherit;
    position: absolute;
    left: 16%;
    top: 40%;
    border: 0.5px solid whitesmoke;
    border-left: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    resize: both;
    overflow: auto;
  }
  
  /* Change background color of buttons on hover */
  .button1 :hover {
    background-color: lightseagreen;
  }
  
  /* Create an active/current tablink class */
  .button1.active {
    background-color: lightseagreen;
  }
  
  /* Style the tab content */
  .tabcontent {
    color: black;
    font-family: fantasy;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    color: lightslategray;
    height: 85%;
    width: 10%;
    resize: both;
    overflow: auto;
  }

  #firstTab{
      font-family: fantasy;
      color: black;
      position: absolute;
      left: 17%;
      top: 50%;
      background-color: lightyellow;
  }
 
  #secondTab{
    color: black;
    position: absolute;
    left: 17%;
    top: 50%;
    background-color: lightyellow;
}


.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


#button1:hover{
    background-color: rgb(14, 14, 20);
}

#button2:hover{
    background-color: rgb(14, 14, 20);
}

#printerImage{
    max-width: 140px;
    max-height: 140px;
    outline: 1px solid darkslategrey;
    resize: both;
    overflow: auto;
}
